body{
    margin: auto;
    background-color: gray;
}
header{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.paragraph1{
    color: black;
}